<template>
  <v-app dark>
    <v-app-bar
            dense
            app
            color="white"
            height="50"
    >
      <v-avatar
              class="mr-3"
              color="grey lighten-5"
              size="40"
      >
        <v-img
                :src="require('@/assets/avatar.jpg')"
        ></v-img>
      </v-avatar>

      <v-toolbar-title class="font-weight-black headline">
        Artem Ilinykh
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <section id="hero">
        <v-row no-gutters>
          <v-img
                  :max-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
                  :src="require('@/assets/preview.jpg')"
          >
          </v-img>
        </v-row>
      </section>

      <section id="about-me">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Начало</h2>

          <v-responsive
                  class="mx-auto mb-8"
                  width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
                  class="mx-auto title font-weight-light mb-8"
                  max-width="720"
          >
            <p>
              В 12 лет я познакомился с Delphi 7. Копипастил код "Винлокеров".
              Я продавал их за 200-300 рублей - этого хватало на то что бы купить газировку и чипсы себе и своим друзьям.
            </p>
            <p>
              Когда мне было 16 лет, мой друг предложил изучать HTML и это стало началом лучшей жизни о которой только можно было мечтать.
              Каждый раз буду вспоминать этого человека, который подтолкнул меня к этому.
            </p>
            <p>
              И так же не обошлось без девчонки которая мне безумно нравилась и это меня мотивировало становиться лучше - ходить в зал, изучать науки и зарабатывать деньги.
              Правда она об этом не в курсе по сей день. Молодой был - неопытный :)
            </p>
          </v-responsive>
        </v-container>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Обучение</h2>

          <v-responsive
                  class="mx-auto mb-8"
                  width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
                  class="mx-auto title font-weight-light mb-8"
                  max-width="720"
          >
            <p>
              В промежуток 16-18 лет, в школу ходил раз в два месяца, а остальное время тратил на изучение HTML, CSS, PHP, JavaScript, C#, Java.
              Это был сложный процесс, я читал абсолютно все, смотрел все видео которые только находил, пиратил и изучал курсы.
              Я пытался писать свои базы данных работающие с JSON файлами, HTTP фреймворк написал и переписал после этого 30 раз, старался сделать свой SPA фреймворк, потому что о существований Angular, React, Vue не знал.
            </p>

            <p>
              Пройдя этот путь с уверенностью заявляю что все видео которые есть на ютубе и 99% курсов бесполезный мусор.
              Который не имеет ничего общего с разработкой, и учителя сами не имеют представление о разработке реальных проектов.
            </p>

          </v-responsive>
        </v-container>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Становление</h2>

          <v-responsive
                  class="mx-auto mb-8"
                  width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
                  class="mx-auto title font-weight-light mb-8"
                  max-width="720"
          >
            <p>
              Время подошло к моему 18 летию я бросил образование и начал искать работу разработчика.
              Устроится не удалось, мне отказали по причине того, что я слишком молодой.
            </p>
            <p>
              Это не стало для меня преградой и я начал искать и работать с заказчиками.
              Следующий год я разрабатывал <strong>Customer Relationship Management Systems</strong>
              для автосервисов.
            </p>
            <p>
              В 19 лет. Меня взяли в компанию <strong><a href="https://cimpleo.com" target="_blank">CimpleO</a></strong> на позицию <strong>Backend Developer.</strong>
              В этой компаний я быстро освоил много технологий, а именно <strong>C/C++, NodeJS, MQTT, Docker, RabbitMQ, gRPC, CI/CD, Unit/Module/Integration testing</strong>.
            </p>
            <p>А самое главное это опыт того как разрабатывать качественный и надежный софт на топовом уровне.</p>
            <p>Молодой? Ха, да я уделал по скиллу каждого разработчика которого только встречал!</p>
          </v-responsive>
        </v-container>


        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Настоящее</h2>

          <v-responsive
                  class="mx-auto mb-8"
                  width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
                  class="mx-auto title font-weight-light mb-8"
                  max-width="720"
          >
            <p>
              Мне 20 лет и у меня много сил и мотивации что бы сделать мир лучше.
              Что это будет - гениальный стартап или новое технологическое достижение, а может взлет в политике к власти.
              Я этого не знаю, но держу в голове каждый из вариантов и протаптываю путь идеями которые возникают в моей голове.
            </p>
            <p>
              Для кого то мои достижения уже выглядят невероятно. Для меня это всего лишь начало и даже не 1% от возможностей которые я могу создать.
              Я фанатично настроен и меня может остановить только смерть, и даже ей я кину вызов.
            </p>

          </v-responsive>

          <v-avatar
                  class="elevation-12 mb-12"
                  size="128"
          >
            <v-img :src="require('@/assets/avatar.jpg')"></v-img>
          </v-avatar>

        </v-container>


        <div class="py-12"></div>
      </section>



<!--      <section-->
<!--              id="features"-->
<!--              class="grey lighten-3"-->
<!--      >-->
<!--        <div class="py-12"></div>-->

<!--        <v-container class="text-center">-->
<!--          <h2 class="display-2 font-weight-bold mb-3">VUETIFY FEATURES</h2>-->

<!--          <v-responsive-->
<!--                  class="mx-auto mb-12"-->
<!--                  width="56"-->
<!--          >-->
<!--            <v-divider class="mb-1"></v-divider>-->

<!--            <v-divider></v-divider>-->
<!--          </v-responsive>-->

<!--          <v-row>-->
<!--            <v-col-->
<!--                    v-for="({ icon, title, text }, i) in features"-->
<!--                    :key="i"-->
<!--                    cols="12"-->
<!--                    md="4"-->
<!--            >-->
<!--              <v-card-->
<!--                      class="py-12 px-4"-->
<!--                      color="grey lighten-5"-->
<!--                      flat-->
<!--              >-->
<!--                <v-theme-provider dark>-->
<!--                  <div>-->
<!--                    <v-avatar-->
<!--                            color="primary"-->
<!--                            size="88"-->
<!--                    >-->
<!--                      <v-icon-->
<!--                              large-->
<!--                              v-text="icon"-->
<!--                      ></v-icon>-->
<!--                    </v-avatar>-->
<!--                  </div>-->
<!--                </v-theme-provider>-->

<!--                <v-card-title-->
<!--                        class="justify-center font-weight-black text-uppercase"-->
<!--                        v-text="title"-->
<!--                ></v-card-title>-->

<!--                <v-card-text-->
<!--                        class="subtitle-1"-->
<!--                        v-text="text"-->
<!--                >-->
<!--                </v-card-text>-->
<!--              </v-card>-->
<!--            </v-col>-->
<!--          </v-row>-->
<!--        </v-container>-->

<!--        <div class="py-12"></div>-->
<!--      </section>-->

      <section id="stats">
        <v-parallax
                :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
                src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
        >
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                      v-for="(stat, i) of stats"
                      :key="i"
                      cols="12"
                      md="3"
              >
                <v-tooltip bottom max-width="250px">
                  <span>{{ stat.tooltip }}</span>

                  <template v-slot:activator="{ on, attrs }">
                    <div class="text-center"
                         v-on="stat.tooltip ? on : undefined"
                         v-bind="stat.tooltip ? attrs : undefined"
                    >
                      <div
                              class="display-3 font-weight-black mb-4"
                              v-text="stat.head"
                      ></div>

                          <div

                                  class="title font-weight-regular text-uppercase"
                                  v-text="stat.sub"
                          ></div>

                    </div>
                  </template>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

<!--      <section id="blog">-->
<!--        <div class="py-12"></div>-->

<!--        <v-container>-->
<!--          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Blog</h2>-->

<!--          <v-responsive-->
<!--                  class="mx-auto mb-12"-->
<!--                  width="56"-->
<!--          >-->
<!--            <v-divider class="mb-1"></v-divider>-->

<!--            <v-divider></v-divider>-->
<!--          </v-responsive>-->

<!--          <v-row>-->
<!--            <v-col-->
<!--                    v-for="({ src, text, title }, i) in articles"-->
<!--                    :key="i"-->
<!--                    cols="12"-->
<!--                    md="4"-->
<!--            >-->
<!--              <v-img-->
<!--                      :src="src"-->
<!--                      class="mb-4"-->
<!--                      height="275"-->
<!--                      max-width="100%"-->
<!--              ></v-img>-->

<!--              <h3-->
<!--                      class="font-weight-black mb-4 text-uppercase"-->
<!--                      v-text="title"-->
<!--              ></h3>-->

<!--              <div-->
<!--                      class="title font-weight-light mb-5"-->
<!--                      v-text="text"-->
<!--              ></div>-->

<!--              <v-btn-->
<!--                      class="ml-n4 font-weight-black"-->
<!--                      text-->
<!--              >-->
<!--                Continue Reading-->
<!--              </v-btn>-->
<!--            </v-col>-->
<!--          </v-row>-->
<!--        </v-container>-->

<!--        <div class="py-12"></div>-->
<!--      </section>-->

      <v-sheet
              id="contact"
              color="#333333"
              dark
              tag="section"
              tile
      >
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Связь со мной</h2>

          <v-responsive
                  class="mx-auto mb-12"
                  width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-theme-provider light>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                        flat
                        label="Как зовут?*"
                        solo
                        hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                        flat
                        label="Email*"
                        solo
                        hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                        flat
                        label="О чем хочешь написать?*"
                        solo
                        hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-textarea
                        flat
                        label="Ну, рассказывай ! :)*"
                        solo
                        hide-details
                ></v-textarea>
              </v-col>

              <v-col
                      class="mx-auto"
                      cols="12"
              >
                <v-btn
                        color="accent"
                        x-large
                        width="100%"
                >
                  Отправить
                </v-btn>
              </v-col>
            </v-row>
          </v-theme-provider>
        </v-container>

        <div class="py-12"></div>
      </v-sheet>
    </v-main>

    <v-footer
            class="justify-center"
            color="#292929"
            height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — Artem Ilinykh, Developer
      </div>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import HelloWorld from './components/HelloWorld.vue';
import { Component } from "vue-property-decorator";

export interface StatInterface {
  head: string;
  sub: string;
  tooltip?: string;
}

@Component
export default class App extends Vue {
  private readonly articles = [
    {
      src: 'https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
      title: 'Mobile first & Responsive',
      text: 'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.',
    },
    {
      src: 'https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
      title: 'Think outside the box',
      text: 'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.',
    },
    {
      src: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80',
      title: 'Small changes, big difference',
      text: 'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.',
    },
  ];

  private readonly features = [
    {
      icon: 'mdi-account-group-outline',
      title: 'Vibrant Community',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
    },
    {
      icon: 'mdi-update',
      title: 'Frequent Updates',
      text: 'Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit.',
    },
    {
      icon: 'mdi-shield-outline',
      title: 'Long-term Support',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
    },
  ];

  private get stats(): StatInterface[] {
    const now = new Date().getTime() / 1000;
    const start = 1533254400;
    const days = (now - start) / 86400;
    const hours = days * 8;
    const actual = Number(hours / 1.5);

    return [
      {
        head: `${((new Date().getTime() - new Date('2000-05-06').getTime()) / (1000 * 60 * 60 * 24 * 365)).toFixed(0)}`,
        sub: 'Возраст'
      },
      {
        head: '9',
        sub: 'Проектов'
      },
      {
        head: actual.toFixed(0),
        sub: 'Оплаченных часов',
        tooltip: 'Пока что не интегрировался с системой трекинга. Цифра не совсем точная и приблизительная'
      },
      {
        head: '50$',
        sub: 'Час',
        tooltip: 'Не надо умножать "оплаченные часы" на эту цифру. Это текущая ставка по которой работаю. Она была такой не всегда и росла с 1-2$'
      }
    ];
  }
}
</script>
